/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.2.0 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/

.featherlight {
	display: none;
	position:fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 99;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	background: #333;
	background: rgba(0, 0, 0, 0);
}

.featherlight:last-of-type {
	background: rgba(0, 0, 0, 0.8);
}

.featherlight:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

.featherlight .featherlight-content {
	position: relative;
	text-align: left;
	vertical-align: middle;
	display: inline-block;
	overflow: auto;
	margin-left: 5%;
	margin-right: 5%;
	max-height: 95%;
	cursor: auto;
	white-space: normal;
}

.featherlight .featherlight-inner {
	display: block;
}

.featherlight .featherlight-close-icon {
	display: inline-block;
	position: absolute;
	z-index: 9999;
	top: 0;
	right: 0;
	line-height: 25px;
	width: 25px;
	cursor: pointer;
	text-align: center;
	font: Arial, sans-serif;
	color: #000;
}

.featherlight-iframe .featherlight-content {
	border-bottom: 0;
	padding: 0;
}

.featherlight iframe {
	border: none;
}

.lightbox {
  width: 767px;
  background-color: white;
}

@media only screen and (max-width: 850px) {
	.lightbox {
	  width: 600px;
	}
}
@media only screen and (max-width: 640px) {
	.lightbox {
	  width: 500px;
	}
}
@media only screen and (max-width: 540px) {
	.lightbox {
		width: 400px;
	}
}
@media only screen and (max-width: 440px) {
	.lightbox {
		width: 320px;
	}
}

.lightbox-close {
	display: block;
	background-color: black;
	color: white;
	padding: 7px 0 9px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8em;
	-webkit-transition: all 250ms;
	transition: all 250ms;
}

.lightbox-container {
	padding: 30px;
}