@import 'datatables';
@import 'bootstrap-markdown';
@import 'selectize';

.jumbotron--main {
    background: #00A2DF;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;

    .container {
        position: relative;
    }
}

.jumbotron--main h1 {
    font-size: 2.5em;
}

.btn-lg {
    i {
        position: relative;
        padding-right: 5px;
        font-size: 0.8em;
    }
}

.btn--logout {
    position: absolute;
    left: 15px;
    top: -25px;
    border-radius: 0 0 3px 3px;
    border: 0px;

    .glyphicon {
        font-size: 11px;
        padding-right: 4px;
    }
}

.table-recipes-container {
    margin-top: 30px;
}

.dataTables_bottom {
    margin-top: 15px;
}

@media screen and (min-width: 767px) {
    .dataTables_length, .dataTables_filter {
        position: relative;
        top: 2px;
    }

    .dataTables_length {
        float: left;
    }

    .dataTables_filter {
        float: right;
    }

    .dataTables_info {
        float: left;
    }

    .dataTables_paginate {
        float: right;
    }
}

.recipe-edit-form {
 
    .nav-tabs {
        margin: 30px 0 30px 0;
    }

    .btn--recipe-delete {
        margin-top: 10px;
    }
}

.recipe-edit-actions {
    margin-top: 50px;
}

.flag {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 3px;

    &--ar {
        background: url(../img/AR.png);
    }
    &--br {
        background: url(../img/BR.png);
    }
    &--uk {
        background: url(../img/UK.png);
    }
}

.ingredient {
    margin-bottom: 5px;

    .col-xs-2 {
        padding-right: 0px;
    }

    .col-xs-1 {
        padding-left: 0px;
    }
}

.ingredient-actions {
    margin-top: 15px;
}

.well {
    &--file {
        margin-bottom: 10px;
    }
}

.sticky-container {
    position: relative;
    padding-top: 20px;
}

.stuck {
    position: fixed;
    top: 0;
    max-width: 457px;
}

@media screen and (max-width: 991px) {
    .guides-container {
        display: none;
    }
}

.js-guide-image {
    display: none;
    margin-bottom: 20px;
}

.js-guide-caption {
    margin: 0;
}

.alert {
    margin-bottom: 30px;
}

.vertical-align {
    width: 100%;
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
}

.container--login {
    max-width: 400px;
    margin: 0 auto;
}

.login {
    h2 {
        font-size: 1.6em;
        margin: 0 0 20px 0;
        color: #A0A0A0;
        line-height: 1.3em;

        strong {
            color: #333;
        }
    }

    .input-group {
        margin-bottom: 6px;
    }

    .checkbox {
        padding: 5px 0;
    }

    .glyphicon {
        font-size: 0.9em;
        position: relative;
        top: 2px;
    }
}

.container--main {
    padding-bottom: 50px;
}

.container--home {
    padding-bottom: 200px;

    h2 {
        margin-bottom: 50px;
    }
}