<div class="modal modal--login">
    <div class="modal__container">
        <div class="password-success js-password-success">
            <i class="ti-check"></i>
            <p>Tu contraseña ha sido cambiada.</p>
        </div>
        <form class="modal__form js-password-form">
            <div class="modal__form__error js-register-error">Por favor revise la información ingresada.</div>
            <div class="modal__form__input">
                <label for="">Contraseña anterior</label>
                <input type="password">
            </div>
            <div class="modal__form__input">
                <label for="">Contraseña nueva</label>
                <input type="password">
            </div>
            <div class="modal__form__input">
                <label for="">Repetir contraseña nueva</label>
                <input type="password">
            </div>
            <button type="button" class="btn btn--form js-password-btn"><span>Finalizar</span></button>
        </form>
    </div>
</div>