<div class="modal modal--login">
    <div class="modal__container">
        <div class="account-delete">
            <i class="ti-alert"></i>
            <p><strong>¿Estás seguro?</strong></p>
            <p>Eliminar tu cuenta no tiene vuelta atrás. Se perderá toda tu información.</p>
            <button type="button" class="btn btn--form js-password-btn"><span>Si, eliminar mi cuenta</span></button>
        </div>
    </div>
</div>