<div class="modal modal--book">
    <div class="card">
        <div class="card__person">
            <div class="card__person__pic">
                <img src="img/libro/brunello.jpg" alt="Roberto Brunello">
            </div>
            <div class="card__person__text">
                <h4>Roberto Brunello</h4>
                <p>Presidente de FEHGRA</p>
            </div>
        </div>
        <div class="card__main">
            <p>El paisaje y la gastronomía están íntimamente relacionados. Así lo define la conocida metáfora “la cocina es el paisaje puesto en el plato”, especialmente útil para un país como el nuestro, tan extenso y rico en carnes y productos agrícolas, tan creativo en sus elaboraciones de la cocina criolla, urbana, rural. Un suelo con regiones de zonas arcillosas aptas para el crecimiento de taninos robustos y rojos, que producen el mejor Malbec, un icono cultural de Argentina en el mundo, como la carne y el tango. Una tierra que supo vincular su Marca País también con la yerba mate, las empanadas y el dulce de leche, entre otros, por tratarse de productos típicamente argentinos y de consumo generalizado en todas sus regiones.</p>
            <p>Los 35.000 restaurantes, bares, pizzerías, cantinas, bodegones y muchos de los 10.000 establecimientos hoteleros nucleados en FEHGRA, a través de nuestras 63 Filiales, presentan los sabores argentinos, reflejo de la historia y la cultura, y revalorizan constantemente su cocina, mejorando la calidad e impulsando con su esfuerzo y dedicación un sector muy potente de la economía nacional.</p>
            <p>Nuestras Filiales acompañan con la organización de Festivales, Jornadas o Semanas Gastronómicas, que incluyen clases magistrales, descuentos en restaurantes, concursos, talleres, actividades para chicos, entre otras, como un gran aporte en el posicionamiento de sus ciudades a través de la gastronomía. Desde hace varios años nuestra Federación tiene la misión de realizar acciones para promover el producto, las materias primas y las producción culinarias, ya que se trata no solo de una manera de posicionar a la actividad sino que contribuye a consolidar al país como destino turístico de calidad y alcanzar una posición cada vez más competitiva.</p>
            <p>Este valioso libro que llevó adelante el Departamento de Turismo, y que contó con el aporte de numerosos dirigentes empresarios y especialistas, transporta al lector a la cultura, gustos, olores, texturas, ritos y hábitos de cada pueblo, utilizando como vehículo textos fáciles de disfrutar e imágenes de alta calidad. Agradecemos a nuestra Filial en la Ciudad de Buenos Aires por facilitarnos sus instalaciones para elaborar los distintos platos que forman parte de este material.</p>
            <p>Los invitamos a deleitarse con cada una de las páginas de esta nueva herramienta de difusión creada por nuestra entidad, que nos ayudará a transmitir las cualidades distintivas de nuestra gastronomía, y facilitará la tarea de convertirla cada vez más en una experiencia memorable para argentinos, y un gran motivador de viajes tanto para turistas locales como extranjeros.</p>
        </div>
    </div>
</div>