<div class="modal modal--book">
    <div class="card">
        <div class="card__person">
            <div class="card__person__pic">
                <img src="img/libro/desbots.jpg" alt="Fernando Desbots">
            </div>
            <div class="card__person__text">
                <h4>Fernando Desbots</h4>
                <p>Vicepresidente de FEHGRA a cargo del Dpto. de Turismo</p>
            </div>
        </div>
        <div class="card__main">
            <p>Hoy, una porción de los más de 1.000 millones de turistas que viajan por el mundo y un porcentaje del turismo interno de cada país encuentran en el “turismo gastronómico” una fuerte motivación que los llevan a elegir un destino y disfrutar de su oferta.</p>
            <p>Desde el Departamento de Turismo de FEHGRA, asumimos el desafío de desarrollar este material editorial entendiendo que uno de nuestros objetivos es dar continuidad a las acciones necesarias para impulsar segmentos turísticos que favorezcan el desarrollo de los destinos argentinos y de la actividad hotelera gastronómica, incrementando el negocio y la rentabilidad.</p>
            <p>Nuestra Federación es una entidad pionera en realizar acciones de capacitación, manuales, congresos, foros, encuentros sobre temáticas propias del sector. Siempre nos impulsa la necesidad de hacer nuestro aporte para estimular el posicionamiento de la gastronomía y la hotelería argentina, revalorizar las materias y primas y las producciones tradicionales y locales, desarrollar eventos que ayuden a traccionar al turismo interno, quebrar la estacionalidad y colaborar en la construcción de destinos atractivos durante todo el año. Lograr una acabada identidad culinaria argentina en el segmento de alta gama es otro recurso turístico que nos ofrece la gran oportunidad de atraer turistas que permanezcan más tiempo en nuestras ciudades y disfruten de nuestras mesas.</p>
            <p>La reconocida experiencia de la Federación y sus 63 Filiales nos coloca en una posición de relevancia para la elaboración del Libro de la Gastronomía Regional Argentina, que esperamos disfruten tanto como nosotros al elaborarlo.</p>
        </div>
    </div>
</div>