<div class="modal modal--login">
    <div class="modal__contents active" id="modal-main">
        <div class="modal__container">
            <p>Ingresá o registrate con tus redes sociales</p>
            <div class="social-login">
                <div>
                    <a href="#" class="btn btn--sm btn--facebook">
                        <i class="ti-facebook"></i><span>Ingresar con </span>Facebook
                    </a>
                </div>
                <div>
                    <a href="#" class="btn btn--sm btn--twitter">
                        <i class="ti-twitter-alt"></i><span>Ingresar con </span>Twitter
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="modal__container">
            <p class="js-login-title">Ingresá con tu email y contraseña</p>
            <form class="modal__form modal__form--login">
                <div class="modal__form__input">
                    <i class="ti-email"></i>
                    <input type="email" placeholder="Email">
                </div>
                <div class="modal__form__row">
                    <div class="modal__form__col">
                        <div class="modal__form__input">
                            <i class="ti-lock"></i>
                            <input type="password" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="modal__form__col">
                        <button type="button" class="btn btn--form js-login-btn"><span>Ingresar</span></button>
                    </div>
                </div>
                <a class="modal__forgot-pass js-forgot-pass">¿Olvidaste tu contraseña?</a>
            </form>
        </div>
        <a class="modal__register js-register">¿No tenés cuenta? Registrate gratis.</a>
    </div>

    <div class="modal__contents" id="modal-register">
        <div class="modal__container">
            <form class="modal__form">
                <div class="modal__form__error js-register-error">Por favor revise la información ingresada.</div>
                <div class="modal__form__input">
                    <label for="">Nombre</label>
                    <input type="text">
                </div>
                <div class="modal__form__input">
                    <label for="">Apellido</label>
                    <input type="text">
                </div>
                <div class="modal__form__input">
                    <label for="">Email</label>
                    <input type="email">
                </div>
                <div class="modal__form__input">
                    <label for="">Contraseña</label>
                    <input type="password">
                </div>
                <button type="button" class="btn btn--form js-register-btn"><span>Finalizar</span></button>
            </form>
        </div>
    </div>

    <div class="modal__contents" id="modal-password">
        <div class="modal__container">
            <div class="password-success js-password-success">
                <i class="ti-check"></i>
                <p>Revisa tu email para encontrar instrucciones sobre como cambiar tu contraseña.</p>
            </div>
            <form class="modal__form js-password-form">
                <p><strong>¿Olvidaste tu contraseña?</strong> Ingresá el email que usaste para registrarte y te envíaremos instrucciones para cambiarla.</p>
                <div class="modal__form__error js-password-error">No se encontró la cuenta ingresada.</div>
                <div class="modal__form__input">
                    <label for="">Email</label>
                    <input type="email">
                </div>
                <button type="button" class="btn btn--form js-password-btn"><span>Enviar</span></button>
            </form>
        </div>
    </div>
</div>