.book {
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;

        @include media($mobile) {
            padding: 0 20px;
        }
    }

    &__title {
        font-family: $roboto-slab;
        font-size: 3.250em;
        letter-spacing: -0.01em;
        margin: 0 0 22px 0;
    }

    &__subtitle {
        font-family: $roboto-slab;
        font-size: 2.375em;
        font-weight: 300;
        margin: 0 0 50px 0;

        &--spacer {
            margin-top: 115px;

            @include media($tablet) {
                margin-top: 75px;
            }

            @include media($mobile) {
                margin-top: 50px;
            }
        }
    }

    @include media($mobile) {
        &__title {
            font-size: 2.5em;
        }

        &__subtitle {
            font-size: 2em;
        }
    }

    @include media($mobile-sm) {
        &__subtitle {
            font-size: 1.75em;
        }
    }

    &__heading {
        background: $dark-gray;
        padding-top: 110px;
        padding-bottom: 65px;

        &__container {
            max-width: 1100px;
            margin: 0 auto;
            @include clearfix;
        }

        &__pic {
            @include span-columns(5);
            position: relative;
            top: -35px;

            &:before {
                content: ' ';
                width: 100%;
                height: 1px;
                display: block;
                background: transparent;
            }

            img {
                width: 100%;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        &__text {
            @include span-columns(7);
            color: white;
            padding-left: 35px;
            padding-right: 30px;

            p {
                margin: 0 0 40px 0;
                font-size: 1.125em;
                font-weight: 300;
                line-height: 1.5em;

                @include media($desktop-sm) {
                    font-size: 1em;
                }
            }
        }

        &__actions {
            .ti-download {
                position: relative;
                top: 1px;
                margin-right: 5px;
            }

            .btn--main {
                margin-right: 11px;
            }

            @include media($mobile) {
                .btn {
                    display: block;
                    width: 100%;
                }

                .btn--main {
                    margin: 0 0 9px 0;
                }
            }
        }

        @include media($tablet) {
            padding: 30px 0 50px 0;
            text-align: center;

            &__pic, &__text {
                width: 100%;
                float: none;
                margin: 0;
            }

            &__pic {
                top: auto;
                left: -5px;
                padding: 0 10px;
                margin-bottom: 20px;

                &:before {
                    display: none;
                }

                img {
                    position: relative;
                    max-width: 280px;
                    display: inline-block;
                }
            }
        }
    }

    &__video {
        max-width: 1024px;
        margin: 0 auto;
        padding: 150px 0;

        @include media($desktop-sm) {
            padding: 0;
        }

        /*@include media($tablet) {
            padding: 50px 0;
        }*/
    }

    /*&__main {
        p {
            line-height: 1.6em;
            margin: 0;
        }
    }*/

    &__grid {
        @include clearfix;
        margin-bottom: 26px;
        
        &--no-margin {
            margin: 0;
        }

        &__half {
            @include span-columns(6);
        }

        @include media($tablet) {
            margin-bottom: 0;

            &__half {
                width: 100%;
                margin: 0 0 26px 0;
                float: none;
            }
        }
    }

    &__directors, &__team {
        padding: 100px 0;

        @include media($tablet) {
            padding: 75px 0;
        }

        @include media($mobile) {
            padding: 50px 0;
        }
    }
    
    &__directors {
        background: $dark-gray;

        .book__subtitle {
            color: white;
        }
    }

    &__team {
        .book__subtitle {
            color: $main;
        }
    }

    &__thanks {
        padding: 100px 0 75px 0;
        background: $dark-gray;
        color: white;

        @include media($tablet) {
            padding: 75px 0;
        }

        @include media($mobile) {
            padding: 50px 0;
        }

        p {
            font-weight: 300;
            font-size: 1.125em;
            line-height: 1.55em;
            max-width: 590px;

            @include media($mobile) {
                font-size: 1em;
            }
        }

        h1 {
            margin-bottom: 60px;

            @include media($mobile) {
                font-size: 2.5em;
            }

            @include media($mobile-sm) {
                font-size: 2em;
            }
        }
    }

    &__thanks-list {
        padding: 75px 0;
        background: darken($dark-gray,7);

        @include media($mobile) {
            padding: 50px 0;
        }

        ul {
            list-style-type: disc;
            list-style-position: inside;
        }

        li {
            color: white;
            font-weight: 300;
            font-size: 1.125em;
            line-height: 1.55em;
            max-width: 590px;
            padding-bottom: 5px;

            @include media($mobile) {
                font-size: 1em;
            }
        }

        .book__grid__half {
            margin: 0 !important;

            &:first-child {
                padding-right: 50px;

                @include media($tablet) {
                    padding: 0;
                }
            }
        }
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card {
    background: white;
    box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.05);
    border-radius: 2px;
    padding: 40px;

    @include media($mobile) {
        padding: 30px;
    }

    &__person {
        display: table;
        position: relative;
        margin-bottom: 40px;

        &__pic, &__text {
            display: table-cell;
            vertical-align: middle;
        }

        &__pic {
            img {
                width: 100px;
                height: auto;
                border-radius: 50%;
                display: inline-block;
            }
        }

        &__text {
            padding-left: 35px;

            h4, p {
                font-family: $roboto-slab;
                font-weight: 300;
                margin: 0;
            }

            h4 {
                font-size: 1.750em;
                line-height: 1.3em;
                margin: 0 0 4px 0;
            }

            p {
                font-size: 1.063em;
                color: $gray;
            }
        }

        &__region {
            display: inline-block;
            color: white;
            font-family: $roboto-condensed;
            font-weight: 300;
            font-size: 0.750em;
            text-transform: uppercase;
            padding: 4px 8px;
            letter-spacing: 0.1em;
            margin-top: 4px;

            &--noroeste { background-color: $noroeste }
            &--nea { background-color: $nea }
            &--cuyo { background-color: $cuyo }
            &--centro { background-color: $centro }
            &--bsas { background-color: $bsas }
            &--caba { background-color: $caba }
            &--patagonia { background-color: $patagonia }
        }

        @media screen and (max-width: 560px) {
            display: block;
            
            &__pic, &__text {
                display: block;
                text-align: center;
            }

            &__text {
                margin-top: 20px;
                padding: 0;
            }
        }
    }

    &__main {
        p {
            line-height: 1.55em;
        }
    }

    &--chef {
        min-height: 456px;
    }

    &--staff {
        margin-bottom: 26px;

        .card__person, .card__main {
            display: table-cell;
            vertical-align: top;
        }

        .card__person {
            width: 370px;
            padding-right: 40px;
        }

        .card__main {
            h5 {
                font-size: 1.375em;
                margin: 0 0 25px 0;
            }

            p {
                margin: 0;
            }
        }

        @include media($desktop-sm) {
            .card__person, .card__main {
                display: block;
                vertical-align: top;
            }

            .card__person {
                width: 100%;
                padding-right: 0;
            }
        }
    }

    &--turismo {
        background-color: #6F2B91;
        color: white;
        text-align: center;
        padding: 0;

        .card__person {
            margin: 0 auto;
            padding: 30px 40px;
        }

        .card__person__pic {
            img {
                border-radius: 0px;
            }
        }

        .card__person__text {
            h4 {
                max-width: 210px;
                text-align: left;

                @media screen and (max-width: 560px) {
                    text-align: center;
                    max-width: none;
                }
            }
        }

        .card__main {
            padding: 40px;
            background: darken(#6F2B91,5);

            h5 {
                font-size: 1.375em;
                margin: 0 0 25px 0;
            }

            p {
                margin: 0;
                font-weight: 300;
            }

            @media screen and (max-width: 560px) {
                text-align: left;
            }
        }
    }
}

.book__directors .card__main p, .modal--book .card__main p {
    font-size: 1.125em;
    margin: 0 0 30px 0;

    @include media($desktop-sm) {
        font-size: 1em;
    }
}

.modal--book {
    max-width: 800px;
}