.footer {
    &__logos {
        background: $main;
        padding: 50px 15px;
        text-align: center;

        &__row1 {
            margin-bottom: 50px;
        }

        @media screen and (max-width: 1150px) {
            &__row2 {
                max-width: 750px;
                margin: 0 auto;
            }
        }

        @media screen and (max-width: 570px) {
            &__row1, &__row2 {
                margin: 0;
            }
        }
    }

    &__logo {
        position: relative;
        margin: 0 35px;

        &--2 {
            top: 6px;
        }

        &--4 {
            top: 2px;
        }

        &--5 {
            top: -3px;
        }

        @media screen and (max-width: 1150px) {
            &--6, &--7 {
                margin-top: 50px;
            }
        }

        @media screen and (max-width: 570px) {
            display: block;
            margin: 0 auto 40px auto;

            &--2, &--4, &--5, &--6, &--7 {
                top: auto;
                margin-top: 0;
            }

            &--7 {
                margin-bottom: 0;
            }
        }
    }

    &__main {
        @include clearfix;
        background: $dark-gray url(../img/footer-bg.svg) 100% 50% no-repeat;
        background-size: 40% auto;
        color: white;
        position: relative;

        @media screen and (max-width: 1400px) {
            background-size: auto 100%;
        }

        @media screen and (max-width: 1150px) {
            background: $dark-gray;
        }

        &__fehgra {
            width: 400px;
            min-height: 100%;
            background: darken($dark-gray,7);
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;

            img {
                top: 90px;
                position: relative;
            }

            @media screen and (max-width: 860px) {
                width: 100%;
                position: relative;
                padding: 40px 0;
                @include clearfix;

                img {
                    top: 1px;
                    width: 150px;
                    height: auto;
                }
            }
        }
    }

    &__links {
        @include clearfix;
        max-width: 840px;
        padding: 50px 0px 50px 460px;

        @media screen and (max-width: 860px) {
            max-width: 500px;
            margin: 0 auto;
            padding: 40px;
        }

        @include media($mobile){
            padding: 30px 30px 30px 35px;
        }

        &__col {
            width: 50%;
            float: left;

            @media screen and (max-width: 500px) {
                width: auto;
                float: none;

                &:first-child {
                    margin-bottom: 32px;
                }
            }
        }

        &__title {
            color: $gray;
            text-transform: uppercase;
            font-family: $roboto-slab;
            font-size: 1.125em;
            font-weight: 700;
            letter-spacing: 1px;
            margin: 0 0 18px 0;
        }

        &__list {
            li {
                padding: 6px 0;
            }

            a {
                display: block;
                font-size: 0.875em;
                font-weight: 500;
                text-transform: uppercase;
                @include transition(250ms);

                &:hover {
                    color: $main;
                }
            }
        }

        &__social {
            a {
                width: 32px;
                height: 32px;
                display: inline-block;
                line-height: 35px;
                color: $dark-gray;
                background: white;
                border-radius: 2px;
                text-align: center;
                margin-top: 10px;
                @include transition(350ms);

                &.facebook {
                    &:hover {
                        color: white;
                        background-color: #3b5998;
                    }
                }
            }
        }

        &__language, &__social {
            margin-top: 24px;

            p {
                display: block;
                font-size: 0.938em;
                font-weight: 600;
                text-transform: uppercase;
                margin: 0;
                color: $gray;
            }

            select {
                color: $dark-gray;
                width: 150px;
                margin-top: 10px;
            }
        }

        &__language {
            i {
                position: relative;
                top: 1px;
                margin-right: 5px;
            }
        }
    }
}