// Animation

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.navbar {
    width: 100%;
    height: 64px;
    background: white;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.25);
    padding: 0 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    @include clearfix;

    &__trigger {
        display: none;
        width: 64px;
        height: 64px;
        line-height: 64px;
        text-align: center;
        float: left;
        font-size: 1.125em;
        background: transparent;
        border: 0;
        padding: 0;
        outline: 0;
        color: $dark-gray;
        position: relative;

        &:after {
            @extend .ti;
            content: "\e68e";
            position: absolute;
            top: 23px;
            left: 50%;
            margin-left: -9px;
            transform: rotate(0deg);
            @include transition(350ms);
        }

        &:before {
            @extend .ti;
            content: "\e646";
            font-size: 0.938em;
            -webkit-text-stroke: 0.75px $dark-gray;
            position: absolute;
            top: 23px;
            left: 50%;
            margin-left: -9px;
            opacity: 0;
            transform: rotate(-90deg);
            @include transition(350ms);
        }
    }

    &__logo {
        display: block;
        position: relative;
        top: 12px;
        float: left;
    }

    &__links {
        float: left;
        padding-left: 38px;
    }

    &__link {
        display: inline-block;
        float: left;
        padding: 0 14px;
        position: relative;

        > a {
            display: block;
            height: 64px;
            line-height: 64px;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 0.875em;
            letter-spacing: 0.03em;
            @include transition(350ms);
        }

        &.active {
            a {
                box-shadow: inset 0px -5px $dark-gray;
            }
        }

        &--noroeste {
            color: $noroeste;

            &.active {
                a {
                    box-shadow: inset 0px -5px $noroeste;
                }
            }

            a:hover {
                box-shadow: inset 0px -5px $noroeste;
            }
        }

        &--nea {
            color: $nea;

            &.active {
                a {
                    box-shadow: inset 0px -5px $nea;
                }
            }

            a:hover {
                box-shadow: inset 0px -5px $nea;
            }
        }

        &--cuyo {
            color: $cuyo;

            &.active {
                a {
                    box-shadow: inset 0px -5px $cuyo;
                }
            }

            a:hover {
                box-shadow: inset 0px -5px $cuyo;
            }
        }

        &--centro {
            color: $centro;

            &.active {
                a {
                    box-shadow: inset 0px -5px $centro;
                }
            }

            a:hover {
                box-shadow: inset 0px -5px $centro;
            }
        }

        &--bsas {
            color: $bsas;

            &.active {
                a {
                    box-shadow: inset 0px -5px $bsas;
                }
            }

            a:hover {
                box-shadow: inset 0px -5px $bsas;
            }
        }

        &--caba {
            color: $caba;

            &.active {
                a {
                    box-shadow: inset 0px -5px $caba;
                }
            }

            a:hover {
                box-shadow: inset 0px -5px $caba;
            }
        }

        &--patagonia {
            color: $patagonia;

            &.active {
                a {
                    box-shadow: inset 0px -5px $patagonia;
                }
            }

            a:hover {
                box-shadow: inset 0px -5px $patagonia;
            }
        }
    }

    .ti-angle-down {
        font-size: 0.750em;
        -webkit-text-stroke: 0.75px $dark-gray;
        margin-left: 6px;
    }

    &__right {
        float: right;
        position: relative;
        top: 14px;

        &__lang {
            float: left;
            margin: 0 10px 0 0;
            position: relative;
            top: 9px;
            
            span {
                padding: 23px 15px;
            }

            small {
                font-size: 0.875em;
                font-weight: bold;
            }
            
            i {
                margin-right: 8px;
                position: relative;
                top: 1px;
            }
            
            .navbar__dropdown {
                top: 59px;
            }
        }

        &__user {
            display: table;
            float: right;

            &__pic {
                display: inline-block;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-color: $main;
                color: white;
                text-align: center;
                line-height: 37px;
                float: left;
                background-size: cover;
                background-position: 50% 50%;
                @include transition(350ms);
        
                &:after {
                    @extend .ti;
                    content: "\e602";
                    color: white;
                    -webkit-text-stroke: 0.5px white;
                }

                &--available {
                    &:after {
                        display: none;
                    }
                }
            }

            &__text {
                display: table-cell;
                vertical-align: middle;
                padding-left: 14px;
                font-size: 0.875em;
                line-height: 1.4em;
                @include transition(350ms);

                @include media($desktop-xl) {
                    max-width: 79px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .navbar__dropdown {
                top: 69px;
                left: 0px;
                margin-left: 0;

                &:before {
                    height: 60px;
                    top: -60px;
                }

                @include media($mobile) {
                    left: -140px;

                    &:after {
                        left: auto;
                        right: 22px;
                    }
                }
            }

            &:hover {
                .navbar__right__user__text {
                    color: $main;
                }

                .navbar__right__user__pic {
                    transform: scale(0.9);
                }
            }
        }
    }

    &__dropdown {
        display: none;
        min-width: 190px;
        position: absolute;
        left: 50%;
        margin-left: -90px;
        top: 82px;
        background: white;
        box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.30);
        border-radius: 2px;

        &.is-visible {
            display: block;
            animation: fadeInBottom 0.75s both cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }

        &:before {
            content: ' ';
            position: absolute;
            width: 100%;
            height: 22px;
            top: -22px;
            background: transparent;
        }

        &:after {
            content: ' ';
            @include triangle(20px, white, up);
            position: absolute;
            top: -10px;
            left: 50%;
            margin-left: -10px;
        }
        
        a {
            display: block;
            height: 52px;
            line-height: 52px;
            padding: 0 20px;
            font-size: 0.938em;
            border-bottom: 1px solid #DCDADC;
            @include transition(250ms);

            &:hover {
                color: $main;
            }
        }
    }

    @media screen and (max-width: 1300px) {
        padding: 0 30px;

        &__links {
            padding-left: 20px;
        }

        &__link {
            padding: 0 8px;

            > a {
                font-size: 0.813em;
            }
        }
    }

    @media screen and (max-width: 1100px) {
        padding: 0 25px 0 0;

        &__trigger {
            display: block;
        }

        &__links {
            display: none;
        }
    }

    @include media($mobile){
        &__right {
            &__lang, &__user__text {
                display: none;
            }
        }
    }
}

.mobile-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: none;

    &__bg {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        background: rgba(255,255,255,0.98);
        z-index: 8;
    }

    &__links {
        margin-top: 100px;
        text-align: center;
        position: relative;
        z-index: 9;

        @media screen and (max-height: 440px) {
            margin-top: 90px;
        }
    }

    &__link {
        opacity: 0;
        
        > a {
            display: inline-block;
            font-family: 'Roboto Condensed', Helvetica, 'Segoe UI', sans-serif;
            text-transform: uppercase;
            font-size: 1.5em;
            padding: 20px;
            @include transition(250ms);

            @media screen and (max-height: 780px) {
                font-size: 1.375em;
                padding: 18px;
            }

            @media screen and (max-height: 680px) {
                font-size: 1.250em;
                padding: 16px;
            }

            @media screen and (max-height: 630px) {
                font-size: 1.125em;
                padding: 14px;
            }

            @media screen and (max-height: 580px) {
                font-size: 1em;
                padding: 10px;
            }

            @media screen and (max-height: 500px) {
                font-size: 0.938em;
                padding: 8px;
            }

            &:hover {
                transform: scale(1.1);
            }
        }

        &--noroeste {
            color: $noroeste;

            &.active {
                a {
                    box-shadow: inset 0px -5px $noroeste;
                }
            }
        }

        &--nea {
            color: $nea;

            &.active {
                a {
                    box-shadow: inset 0px -5px $nea;
                }
            }
        }

        &--cuyo {
            color: $cuyo;

            &.active {
                a {
                    box-shadow: inset 0px -5px $cuyo;
                }
            }
        }

        &--centro {
            color: $centro;

            &.active {
                a {
                    box-shadow: inset 0px -5px $centro;
                }
            }
        }

        &--bsas {
            color: $bsas;

            &.active {
                a {
                    box-shadow: inset 0px -5px $bsas;
                }
            }
        }

        &--caba {
            color: $caba;

            &.active {
                a {
                    box-shadow: inset 0px -5px $caba;
                }
            }
        }

        &--patagonia {
            color: $patagonia;

            &.active {
                a {
                    box-shadow: inset 0px -5px $patagonia;
                }
            }
        }

        &--lang {
            display: inline-block !important;
            position: relative;
            font-size: 1.5em;

            select {
                width: 190px;
                display: inline-block;
                appearance: none;
                font-family: 'Roboto Condensed', Helvetica, 'Segoe UI', sans-serif;
                text-transform: uppercase;
                padding: 20px;
                border: 0;
                outline: 0;
                background: transparent;

                @media screen and (max-height: 780px) {
                    width: 175px;
                    padding: 18px 20px;
                }

                @media screen and (max-height: 680px) {
                    width: 165px;
                    padding: 16px 20px;
                }

                @media screen and (max-height: 630px) {
                    width: 152px;
                    padding: 14px 20px;
                }

                @media screen and (max-height: 580px) {
                    width: 140px;
                    padding: 10px 20px;
                }

                @media screen and (max-height: 500px) {
                    width: 135px;
                    padding: 8px 20px;
                }
            }
            
            &:before {
                @extend .ti;
                @extend .ti-angle-down;
                position: absolute;
                top: 23px;
                right: 20px;
                -webkit-text-stroke: 1px black;
                font-size: 0.875em;

                @media screen and (max-height: 680px) {
                    top: 20px;
                }

                @media screen and (max-height: 630px) {
                    top: 17px;
                }

                @media screen and (max-height: 580px) {
                    top: 13px;
                }

                @media screen and (max-height: 500px) {
                    top: 10px;
                }
            }

            @media screen and (max-height: 780px) {
                font-size: 1.375em;
            }

            @media screen and (max-height: 680px) {
                font-size: 1.250em;
            }

            @media screen and (max-height: 630px) {
                font-size: 1.125em;
            }

            @media screen and (max-height: 580px) {
                font-size: 1em;
            }

            @media screen and (max-height: 500px) {
                font-size: 0.938em;
            }
        }
    }
}

.mobile-menu-open {
    .navbar__trigger {
        &:after {
            opacity: 0;
            transform: rotate(90deg);
        }

        &:before {
            opacity: 1;
            transform: rotate(0deg);
        }
    }
}

.navbar-clear {
    position: relative;
    width: 100%;
    height: 64px;
    clear: both;
}