// Animation

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.hslider__slide.slick-active {
    .hslider__recipe__title strong,
    .hslider__recipe__title small,
    .hslider__recipe__desc,
    .hslider__recipe__buttons,
    .hslider__region__main .hslider__vcenter {
        animation: fadeInRight 1s both cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    .hslider__region__main .hslider__vcenter,
    .hslider__region__map span {
        animation: fadeInScale 1s both cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-delay: 600ms;
    }
    
    .hslider__recipe__title strong {
        animation-delay: 600ms;
    }

    .hslider__recipe__title small {
        animation-delay: 650ms;
    }

    .hslider__recipe__desc {
        animation-delay: 700ms;
    }

    .hslider__recipe__buttons {
        animation-delay: 750ms;
    }

    .js-cover {
        transform: scale(1);
    }
}

.hslider__slide.img-loaded .hslider__image {
    opacity: 1;
}

.hslider {
    opacity: 0;
    @include transition(opacity 750ms);

    &.slick-initialized {
        opacity: 1;
    }
}

.hslider {
    width: 100%;
    height: 100vh;
    min-height: 460px;
    overflow: hidden;

    .slick-list, .slick-track {
        height: 100%;
    }

    .greenishCover {
        top: 0;
        left: 0;
    }

    &__slide {
        width: 100%;
        height: 100%;
        padding: 40px;
        position: relative;

        &--noroeste {
            background-color: $noroeste;

            .hslider__region__map span { background-image: url(../img/region/noroeste-map.svg) }

            &:after {
                background: linear-gradient(to right, rgba($noroeste,0.95) 0%, rgba($noroeste,0.5) 35%, rgba($noroeste,0.0) 60%);
                
                @media screen and (max-width: 1400px) {
                    background: linear-gradient(to right, rgba($noroeste,1) 0%, rgba($noroeste,0.5) 40%, rgba($noroeste,0.0) 60%);
                }
            }
            .btn--regional { background-color: $noroeste }
        }

        &--nea {
            background-color: $nea;

            .hslider__region__map span { background-image: url(../img/region/nea-map.svg) }

            &:after {
                background: linear-gradient(to right, rgba($nea,0.95) 0%, rgba($nea,0.5) 35%, rgba($nea,0.0) 60%);
                
                @media screen and (max-width: 1400px) {
                    background: linear-gradient(to right, rgba($nea,1) 0%, rgba($nea,0.5) 40%, rgba($nea,0.0) 60%);
                }
            }
            .btn--regional { background-color: $nea }
            .hslider__region__title strong { font-size: 1.35em }
        }

        &--cuyo {
            background-color: $cuyo;

            .hslider__region__map span { background-image: url(../img/region/cuyo-map.svg) }

            &:after {
                background: linear-gradient(to right, rgba($cuyo,0.95) 0%, rgba($cuyo,0.5) 35%, rgba($cuyo,0.0) 60%);
                
                @media screen and (max-width: 1400px) {
                    background: linear-gradient(to right, rgba($cuyo,1) 0%, rgba($cuyo,0.5) 40%, rgba($cuyo,0.0) 60%);
                }
            }
            .btn--regional { background-color: $cuyo }
        }

        &--centro {
            background-color: $centro;

            .hslider__region__map span { background-image: url(../img/region/centro-map.svg) }

            &:after {
                background: linear-gradient(to right, rgba($centro,0.95) 0%, rgba($centro,0.5) 35%, rgba($centro,0.0) 60%);
                
                @media screen and (max-width: 1400px) {
                    background: linear-gradient(to right, rgba($centro,1) 0%, rgba($centro,0.5) 40%, rgba($centro,0.0) 60%);
                }
            }
            .btn--regional { background-color: $centro }
        }

        &--bsas {
            background-color: $bsas;

            .hslider__region__map span { background-image: url(../img/region/bsas-map.svg) }

            &:after {
                background: linear-gradient(to right, rgba($bsas,0.95) 0%, rgba($bsas,0.5) 35%, rgba($bsas,0.0) 60%);
                
                @media screen and (max-width: 1400px) {
                    background: linear-gradient(to right, rgba($bsas,1) 0%, rgba($bsas,0.5) 40%, rgba($bsas,0.0) 60%);
                }
            }
            .btn--regional { background-color: $bsas }
            .hslider__region__title strong { font-size: 1.35em }
        }

        &--caba {
            background-color: $caba;

            .hslider__region__map span { background-image: url(../img/region/caba-map.svg) }

            &:after {
                background: linear-gradient(to right, rgba($caba,0.95) 0%, rgba($caba,0.5) 35%, rgba($caba,0.0) 60%);
                
                @media screen and (max-width: 1400px) {
                    background: linear-gradient(to right, rgba($caba,1) 0%, rgba($caba,0.5) 40%, rgba($caba,0.0) 60%);
                }
            }
            .btn--regional { background-color: $caba }
            .hslider__region__title strong { font-size: 1.1em }
        }

        &--patagonia {
            background-color: $patagonia;

            .hslider__region__map span { background-image: url(../img/region/patagonia-map.svg) }

            &:after {
                background: linear-gradient(to right, rgba($patagonia,0.95) 0%, rgba($patagonia,0.5) 35%, rgba($patagonia,0.0) 60%);
                
                @media screen and (max-width: 1400px) {
                    background: linear-gradient(to right, rgba($patagonia,1) 0%, rgba($patagonia,0.5) 40%, rgba($patagonia,0.0) 60%);
                }
            }
            .btn--regional { background-color: $patagonia }
        }

        &:after {
            content: ' ';
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;

            @include media($desktop-sm) {
                background: rgba(0,0,0,0.5) !important;
            }
        }
    }

    &__region, &__recipe {
        position: relative;
        z-index: 1;
    }

    &__region {
        width: 260px;
        height: 100%;
        background: rgba($dark-gray,0.9);
        float: right;
        text-align: center;

        &__main, &__map {
            width: 100%;
            display: table;
        }

        &__main {
            height: 45%;
        }

        &__map {
            height: 55%;
            background: rgba(black,0.2);
            position: relative;

            span {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: auto 60%;

                @media screen and (max-height: 800px) {
                    background-size: auto 65%;
                }

                @media screen and (max-height: 700px) {
                    background-size: auto 70%;
                }
            }
        }

        &__title {
            color: white;
            font-family: $roboto-slab;
            font-size: 1.35em;
            font-weight: 300;
            letter-spacing: -0.03em;
            margin: 0 0 35px 0;
            padding: 0 30px;

            strong {
                display: block;
                font-size: 1.35em;
                line-height: 1.1em;
            }

            @media screen and (max-height: 700px) {
                margin-bottom: 25px;
            }
        }

        @include media($desktop-sm) {
            display: none;
        }
    }

    &__vcenter {
        display: table-cell;
        vertical-align: middle;
    }

    &__recipe {
        max-width: 900px;
        height: 100%;
        padding-left: 30px;
        display: table;

        &__title {
            max-width: 600px;
            color: white;
            font-family: $roboto-slab;
            font-size: 3em;
            font-weight: 300;
            letter-spacing: -0.03em;
            margin: 0;
            
            strong {
                display: block;
                font-weight: 600;
                line-height: 1.1em;
            }

            small {
                display: block;
                font-size: 0.6em;
                padding-top: 6px;

                &:empty {
                    display: none;
                }
            }

            @include media($desktop-sm) {
                font-size: 2.5em;
                margin: 0 auto;
            }

            @include media($tablet) {
                font-size: 2em;
            }

            @include media($mobile-sm) {
                font-size: 1.75em;
            }
        }

        &__desc {
            color: white;
            max-width: 570px;
            font-size: 1.1em;
            line-height: 1.5em;
            margin-top: 20px;

            @include media($desktop-sm) {
                margin: 20px auto 0 auto;
            }

            @include media($tablet) {
                display: none;
            }

            @media screen and (max-height: 600px) {
                display: none;
            }
        }

        &__buttons {
            margin-top: 30px;
        }

        .region-btn {
            display: none;
        }

        @include media($desktop-sm) {
            text-align: center;
            margin: 0 auto;
            padding: 0;

            .region-btn {
                display: inline-block;
                margin-left: 9px;
            }
        }

        @include media($mobile) {
            .btn {
                width: 100%;
                display: block;
            }

            .region-btn {
                margin: 9px 0 0 0;
            }
        }
    }

    &__image {
        opacity: 0;
        transform: scale(1.05);
        position: relative;
        object-fit: cover;
        @include transition(transform 1s, opacity 1s);
    }
}

.hbook {
    background: $dark-gray;
    padding: 80px 20px;

    &__container {
        @include clearfix;
        max-width: 1024px;
        margin: 0 auto;
    }

    &__pic {
        @include span-columns(5);
        padding-right: 30px;
        position: relative;
        top: 12px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__text {
        @include span-columns(7);
        position: relative;
        top: 48px;
        padding-right: 30px;
    }

    &__quote {
        color: #AFAEAE;
        font-family: $roboto-slab;
        font-size: 2.125em;
        font-weight: 300;
        letter-spacing: -0.03em;
        margin: 0 0 28px 0;
    }

    &__more {
        color: white;
        font-size: 1.625em;
        font-weight: 300;
        letter-spacing: -0.03em;
        margin: 0 0 35px 0;
    }

    @include media($desktop-sm) {
        &__quote {
            font-size: 1.75em;
        }

        &__more {
            font-size: 1.4em;
        }
    }

    @media screen and (max-width: 850px) {
        padding: 60px 30px;

        &__pic, &__text {
            display: block;
            float: none;
            margin: 0 auto;
            top: auto;
        }

        &__pic {
            width: auto;
            max-width: 300px;
            margin-bottom: 20px;
            left: 8px;
        }

        &__text {
            width: auto;
            max-width: 700px;
            text-align: center;
            padding: 0;
        }
    }

    @include media($mobile) {
        &__quote {
            font-size: 1.4em;
        }

        &__more {
            font-size: 1.1em;
            font-weight: 400;
        }
    }
}