.modal {
    &--login {
        width: 400px;
        padding-top: 10px;

        hr {
            color: $light-gray;
            background-color: $light-gray;
            height: 1px;
            border: 0;
        }

        p {
            margin: 0 0 32px 0;
            text-align: center;
            @include transition(350ms);

            @include media($mobile) {
                font-size: 0.875em;
                font-weight: 500;
                margin-bottom: 20px;
            }

            &.has-error {
                color: $error;
                font-weight: 600;
            }
        }

        @media screen and (max-width: 420px) {
            width: auto;
            max-width: 400px;
        }
    }

    &__register {
        display: block;
        background: $main;
        font-weight: 500;
        color: white;
        text-align: center;
        padding: 20px 30px;
        @include transition(350ms);

        &:hover, &:focus {
            background-color: darken($main, 10);
        }

        @include media($mobile) {
            font-size: 0.875em;
            padding: 18px 20px;
        }
    }

    &__form__row {
        @include clearfix;

        .modal__form__col:first-child {
            width: 60%;
            float: left;
        }

        .modal__form__col:last-child {
            width: 40%;
            float: left;
            padding-left: 9px;
        }
    }

    &__forgot-pass {
        display: block;
        font-size: 0.750em;
        color: $gray;
        margin-top: 5px;
        @include transition(350ms);

        &:hover {
            color: $dark-gray;
        }
    }

    &__contents {
        display: none;

        &.active {
            display: block;
        }
    }
}

.social-login {
    @include clearfix;

    .btn {
        display: block;
        margin-top: 9px;
    }
}

@include media($mobile) {
    .social-login {
        div {
            display: inline-block;
            float: left;
            width: 50%;

            &:first-child {
                padding-right: 5px;
            }

            &:last-child {
                padding-left: 5px;
            }
        }

        a span {
            display: none;
        }
    }
}

.password-success {
    text-align: center;
    display: none;

    .ti-check {
        display: block;
        font-size: 2em;
        margin-bottom: 18px;
    }

    p {
        margin-bottom: 12px;
    }
}

.account-delete {
    text-align: center;

    .ti-alert {
        display: block;
        font-size: 3em;
        margin-bottom: 18px;
    }

    p {
        margin-bottom: 12px;

        strong {
            font-size: 1.25em;
        }
    }

    button {
        margin-top: 20px;
    }
}