html {
    height: 100%;
    font-size: 100%;
}

body {
    min-height: 100%;
    font-size: 16px;
    font-family: $roboto;
    color: $dark-gray;
    background: #F1F3F4;
    position: relative;
}

p {
    line-height: 1.35em;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

abbr[title] {
    border: none;
}