.recipe {
    &__top {
        @include clearfix;
        height: 100vh;
        min-height: 440px;
        max-height: 720px;
        color: white;
        position: relative;
        padding-right: 300px;

        @include media($desktop-sm) {
            height: auto;
            padding-right: 0;
            text-align: center;
        }
    }

    &__main {
        height: 100%;
        padding: 60px;
        overflow: hidden;
        position: relative;

        @include media($desktop-sm) {
            padding: 40px;
        }

        @include media($mobile) {
            padding: 30px;
        }

        &__breadcrumbs, &__title, &__actions, &__desc {
            position: relative;
            z-index: 1;
        }

        &__breadcrumbs {
            font-size: 0.750em;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 30px;

            i {
                font-size: 10px;
                padding: 0 10px;
                -webkit-text-stroke: 1px white;
            }

            @include media($desktop-sm) {
                margin-bottom: 25px;
            }
        }
        
        &__title {
            max-width: 570px;
            color: white;
            font-family: $roboto-slab;
            font-size: 3em;
            font-weight: 300;
            letter-spacing: -0.03em;
            margin: 0;
            
            strong {
                display: block;
                font-weight: 600;
                line-height: 1.1em;
            }

            small {
                display: block;
                font-size: 0.6em;
                padding-top: 6px;

                &:empty {
                    display: none;
                }
            }

            @include media($desktop-sm) {
                font-size: 2.5em;
                margin: 0 auto;
            }

            @include media($tablet) {
                font-size: 2em;
            }

            @include media($mobile-sm) {
                font-size: 1.75em;
            }
        }

        &__desc {
            max-width: 570px;
            font-size: 1.1em;
            line-height: 1.5em;
            margin-top: 30px;

            @include media($desktop-sm) {
                margin: 30px auto 0 auto;
            }

            @include media($tablet) {
                display: none;
            }

            @media screen and (max-height: 600px) {
                display: none;
            }
        }

        &__actions {
            max-width: 230px;
            position: absolute;
            top: 25px;
            right: 25px;

            .btn {
                width: 100%;
                margin-bottom: 9px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            @include media($desktop-lg) {
                position: absolute;
                left: 60px;
                top: auto;
                bottom: 60px;
            }

            @include media($desktop-sm) {
                left: 50%;
                bottom: 50px;
                margin-left: -115px;
            }

            @include media($tablet) {
                bottom: 40px;
            }

            @include media($mobile) {
                max-width: none;
                left: 30px;
                bottom: 30px;
                right: 30px;
                margin: 0;
            }

            @include media($mobile-sm) {
                max-width: none;
                left: 20px;
                bottom: 20px;
                right: 20px;
                margin: 0;
            }

            .view-recipe {
                display: none;

                i {
                    -webkit-text-stroke: 1px white;
                    margin-left: 5px;
                }

                @include media($desktop-sm) {
                    display: block;
                }
            }
        }

        &__bg {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;

            img {
                opacity: 0;
                transform: scale(1.05);
                @include transition(transform 1s, opacity 1s);
            }

            &:after {
                content: ' ';
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 0;
                left: 0;
                top: 0;
            }

            &.img-loaded {
                img {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    &__ingredients {
        width: 300px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: $dark-gray;
        text-align: left;
        
        &__shadow {
            width: 100%;
            height: 50px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;

            &:after {
                content: ' ';
                display: block;
                width: 100%;
                height: 50px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: linear-gradient(to bottom, rgba($dark-gray,0) 0%,rgba($dark-gray,1) 100%);
            }
        }

        &__scroll {
            width: 100%;
            height: 100%;
            position: relative;
            padding-bottom: 50px;
            overflow: auto;
        }

        &__header {
            background: darken($dark-gray,7);
            padding: 24px 32px;

            &__title {
                text-transform: uppercase;
                font-family: $roboto-slab;
                font-size: 1.125em;
                font-weight: 700;
                letter-spacing: 1px;
                margin: 0 0 4px 0;
            }

            &__portions {
                margin: 0;
                color: $gray;
                font-family: $roboto-condensed;
                font-size: 0.750em;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.05em;
            }
        }

        &__section {
            padding: 32px 32px 0px 32px;
            overflow: hidden;

            &__title {
                margin: 0 0 15px 0;
                color: $gray;
                font-family: $roboto-condensed;
                font-size: 0.750em;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                position: relative;
                left: -1px;
            }
        }

        &__list {
            width: 100%;
            font-family: $roboto-condensed;
            font-size: 0.938em;
            font-weight: 300;
            letter-spacing: 0.03em;
            overflow: hidden;

            td {
                padding-bottom: 7px;
            }

            p {
                width: 190px;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            strong {
                white-space: nowrap;
                font-weight: 600;
                padding-right: 15px;
            }

            @include media($desktop-sm) {
                tr td:first-child {
                    max-width: 40px;
                }
            }
        }

        @include media($desktop-sm) {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            z-index: 11;
            @include transition(500ms);
            transform: translateY(120%);
        }
    }

    &__bottom {
        @include clearfix;
        max-width: 1300px;
        margin: 0 auto;
        position: relative;
        z-index: 3;

        &--no-restaurant {
            max-width: 1024px;

            @media screen and (min-width: 1024px) {
                .recipe__procedure {
                    width: 100%;
                    margin: 0;
                    float: none;
                    top: 30px;
                    margin-bottom: 130px;
                }
            }
        }
    }

    &__social {
        width: 60px;
        position: absolute;
        left: 0;
        top: 0;

        &.is-stuck {
            position: fixed;
            top: 64px;
        }

        &__btn {
            width: 60px;
            height: 60px;
            line-height: 60px;
            display: block;
            text-align: center;
            font-size: 21px;
            color: white;
            border: 0;
            outline: 0;
            @include transition(350ms);

            i {
                position: relative;
                top: 2px;
            }

            &--fav {
                background-color: $dark-gray;

                &:hover {
                    background-color: darken($dark-gray,7);
                }
            }

            &--facebook {
                background-color: #3b5998;

                &:hover {
                    background-color: darken(#3b5998,12);
                }
            }

            &--twitter {
                background-color: #55acee;

                &:hover {
                    background-color: darken(#55acee,12);
                }
            }

            &--pinterest {
                background-color: #bd081c;

                &:hover {
                    background-color: darken(#bd081c,12);
                }
            }
        }

        @include media($desktop-sm) {
            position: relative;
            width: 100%;
            @include clearfix;

            &__btn {
                &--fav {
                    display: none;
                }

                width: 33.332%;
                float: left;
            }
        }
    }

    &__procedure {
        @include span-columns(8);
        position: relative;
        top: -95px;
        padding-left: 60px;
        margin-bottom: 5px;

        @include media($desktop-lg) {
            top: 0px;
            margin-bottom: 100px;
        }

        @include media($desktop-sm) {
            width: 100%;
            margin: 0;
            float: none;
            padding-left: 0;
        }

        &__container {
            background: #FFFFFF;
            box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.05);
            border-radius: 0px 2px 2px 2px;
            padding: 60px;

            p {
                font-size: 1.125em;
                line-height: 1.55em;
                margin: 0 0 20px 0;
            }

            h3 {
                color: $gray;
                font-family: $roboto-condensed;
                font-size: 1.125em;
                font-weight: 300;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                margin: 50px 0 20px 0;
            }

            @include media($desktop-sm) {
                padding: 50px;
            }

            @include media($tablet) {
                padding: 50px 40px 40px 40px;
            }

            @include media($mobile) {
                padding: 50px 30px 30px 30px;
            }
        }

        &__title {
            font-family: $roboto-slab;
            font-size: 2.375em;
            font-weight: 700;
            letter-spacing: -0.02em;
            margin: 0 0 25px 0;
        }
    }

    &__sidebar {
        @include span-columns(4);
        padding: 50px 40px 0 15px;

        @include media($desktop-sm) {
            width: auto;
            max-width: 400px;
            margin: 0;
            float: none;
            margin: 50px auto 0 auto !important;
            padding: 0 20px;
        }

        &__title {
            text-transform: uppercase;
            font-family: $roboto-slab;
            font-size: 1.125em;
            font-weight: 700;
            letter-spacing: 1px;
            margin: 0 0 30px 0;
        }
    }

    &__extra {
        margin-top: 30px;
        display: flex;
        overflow: hidden;
        @include clearfix;

        &__tips, &__dato {
            @include span-columns(6);
            padding: 35px;
            color: white;
            flex: 1;

            h3 {
                font-family: $roboto-slab;
                font-weight: 700;
                letter-spacing: -0.02em;
                margin: 0 0 25px 0;
            }

            p {
                font-size: 0.938em;
                line-height: 1.6em;
                font-weight: 300;
            }
        }

        &__tips {
            background-color: $dark-gray;

            h3 {
                font-size: 2em;
            }
        }

        &__dato {
            background-color: $dark-gray;

            h3 {
                font-size: 1.750em;
            }
        }

        @include media($desktop-sm) {
            padding: 0 30px;
        }

        @media screen and (max-width: 680px) {
            display: block;

            &__tips, &__dato {
                display: block;
                width: 100%;
                float: none;
                margin: 0;
            }

            &__tips {
                margin-bottom: 30px;
            }
        }
        
        @include media($mobile) {
            padding: 0 20px;
            margin-top: 20px;

            &__tips {
                margin-bottom: 20px;
            }
        }
    }

    &--noroeste {
        .recipe__main__bg:after {
            background: linear-gradient(110deg, $noroeste 0%, rgba($noroeste, 0.5) 25%, rgba($noroeste, 0) 50%);

            @include media($desktop-sm) {
                background: linear-gradient(0deg, rgba($noroeste, 0) 40%, rgba($noroeste, 0.8) 80%, $noroeste 100%);
            }
        }

        .btn--regional,
        .recipe__main__bg,
        .recipe__extra__dato {
            background-color: $noroeste;
        }
    }

    &--nea {
        .recipe__main__bg:after {
            background: linear-gradient(110deg, $nea 0%, rgba($nea, 0.5) 25%, rgba($nea, 0) 50%);

            @include media($desktop-sm) {
                background: linear-gradient(0deg, rgba($nea, 0) 40%, rgba($nea, 0.8) 80%, $nea 100%);
            }
        }

        .btn--regional,
        .recipe__main__bg,
        .recipe__extra__dato {
            background-color: $nea;
        }
    }

    &--cuyo {
        .recipe__main__bg:after {
            background: linear-gradient(110deg, $cuyo 0%, rgba($cuyo, 0.5) 30%, rgba($cuyo, 0) 50%);

            @include media($desktop-sm) {
                background: linear-gradient(0deg, rgba($cuyo, 0) 40%, rgba($cuyo, 0.8) 80%, $cuyo 100%);
            }
        }
        
        .btn--regional,
        .recipe__main__bg,
        .recipe__extra__dato {
            background-color: $cuyo;
        }
    }

    &--centro {
        .recipe__main__bg:after {
            background: linear-gradient(110deg, $centro 0%, rgba($centro, 0.5) 40%, rgba($centro, 0) 60%);

            @include media($desktop-sm) {
                background: linear-gradient(0deg, rgba($centro, 0) 40%, rgba($centro, 0.8) 80%, $centro 100%);
            }
        }
        
        .btn--regional,
        .recipe__main__bg,
        .recipe__extra__dato {
            background-color: $centro;
        }
    }

    &--bsas {
        .recipe__main__bg:after {
            background: linear-gradient(110deg, $bsas 0%, rgba($bsas, 0.5) 30%, rgba($bsas, 0) 50%);

            @include media($desktop-sm) {
                background: linear-gradient(0deg, rgba($bsas, 0) 40%, rgba($bsas, 0.8) 80%, $bsas 100%);
            }
        }
        
        .btn--regional,
        .recipe__main__bg,
        .recipe__extra__dato {
            background-color: $bsas;
        }
    }

    &--caba {
        .recipe__main__bg:after {
            background: linear-gradient(110deg, $caba 0%, rgba($caba, 0.5) 30%, rgba($caba, 0) 50%);

            @include media($desktop-sm) {
                background: linear-gradient(0deg, rgba($caba, 0) 40%, rgba($caba, 0.8) 80%, $caba 100%);
            }
        }
        
        .btn--regional,
        .recipe__main__bg,
        .recipe__extra__dato {
            background-color: $caba;
        }
    }

    &--patagonia {
        .recipe__main__bg:after {
            background: linear-gradient(110deg, $patagonia 0%, rgba($patagonia, 0.5) 30%, rgba($patagonia, 0) 50%);

            @include media($desktop-sm) {
                background: linear-gradient(0deg, rgba($patagonia, 0) 40%, rgba($patagonia, 0.8) 80%, $patagonia 100%);
            }
        }
        
        .btn--regional,
        .recipe__main__bg,
        .recipe__extra__dato {
            background-color: $patagonia;
        }
    }

    @include media($desktop-sm) {
        margin-bottom: 100px;
    }
}

.viewing-ingredients {
    overflow: hidden;

    .recipe__ingredients {
        transform: translateY(0px);
    }

    .recipe__ingredients__scroll {
        padding-bottom: 80px;
    }

    .btn--ingredients {
        background-color: darken($dark-gray,7);

        i {
            transform: rotate(180deg);
        }
    }
}

.restaurant {
    display: block;
    margin-bottom: 35px;
    border-radius: 2px;

    &__pic {
        width: 100%;
        height: auto;
        display: block;
    }

    &__info {
        background: white;
        box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.05);
        border-radius: 0px 0px 2px 2px;
        padding: 22px;

        h4 {
            font-size: 1.250em;
            font-weight: 300;
            margin: 0 0 7px 0;
        }

        p {
            color: $gray;
            font-size: 0.750em;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            margin: 0;
        }
    }

    &__legal {
        img {
            width: 73px;
            height: auto;
            float: left;
            margin-right: 25px;
        }

        p {
            font-size: 0.875em;
            color: $gray;
            line-height: 1.5em;
            margin: 0;
            position: relative;
            top: 5px;
        }
    }
}