.region {
    &__top {
        text-align: center;
        position: relative;
        padding: 100px 30px 160px 30px;

        &.is-expanded {
            padding-bottom: 100px;
        }

        @include media($desktop-sm) {
            padding: 80px 30px 140px 30px;

            &.is-expanded {
                padding-bottom: 80px;
            }
        }

        @include media($tablet) {
            padding: 70px 30px 130px 30px;

            &.is-expanded {
                padding-bottom: 70px;
            }
        }

        @include media($mobile) {
            padding: 50px 30px 110px 30px;

            &.is-expanded {
                padding-bottom: 50px;
            }
        }

        &:after {
            content: ' ';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            opacity: 0.3;
        }

        &__title, &__text, &__more, &__pics {
            position: relative;
            z-index: 1;
        }

        &__pics {
            background: rgba(0,0,0,0.3);
            //border: 2px solid white;
            border: 0;
            color: white;
            padding: 5px 12px 6px 12px;
            outline: 0;
            text-align: center;
            text-transform: uppercase;
            font-size: 0.7em;
            border-radius: 20px;
            @include transition(500ms);

            i {
                font-size: 16px;
                position: relative;
                top: 2px;
                margin-right: 5px;
            }

            &:hover, &:focus {
                background: white;
                color: $dark-gray;
            }
        }

        &__title {
            color: white;
            font-family: $roboto-slab;
            font-size: 3.250em;
            font-weight: 200;
            letter-spacing: -0.03em;
            margin: 15px 0 10px 0;
            text-align: center;

            strong {
                font-weight: 700;
            }

            @include media($desktop-sm) {
                font-size: 3em;
            }

            @include media($tablet) {
                font-size: 2.5em;
            }

            @include media($mobile) {
                font-size: 2em;
            }
        }

        &__text {
            max-width: 800px;
            margin: 0 auto;

            p {
                color: white;
                font-weight: 300;
                font-size: 1.125em;
                line-height: 1.5em;
            }

            &__copyright {
                opacity: 0.75;

                a {
                    text-decoration: underline;
                }
            }
        }

        &__more {
            width: 100%;
            height: 60px;
            position: absolute;
            left: 0;
            bottom: 0;
            color: white;
            line-height: 60px;
            font-size: 0.750em;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.05em;
            background: rgba(0,0,0,0.3);
            border: 0;
            padding: 0;
            @include transition(350ms);

            &:hover, &:focus {
                background-color: rgba(0,0,0,0.5);
            }
        }
    }

    &--noroeste {
        .region__top {
            background-color: $noroeste;
            
            &:after { background-image: url(../img/region/noroeste.jpg) }
        }
    }
    &--nea {
        .region__top {
            background-color: $nea;
            
            &:after { background-image: url(../img/region/nea.jpg) }
        }
    }
    &--cuyo {
        .region__top {
            background-color: $cuyo;
            
            &:after { background-image: url(../img/region/cuyo.jpg) }
        }
    }
    &--centro {
        .region__top {
            background-color: $centro;
            
            &:after { background-image: url(../img/region/centro.jpg) }
        }
    }
    &--bsas {
        .region__top {
            background-color: $bsas;
            
            &:after { background-image: url(../img/region/bsas.jpg) }
        }
    }
    &--caba {
        .region__top {
            background-color: $caba;
            
            &:after { background-image: url(../img/region/caba.jpg) }
        }
    }
    &--patagonia {
        .region__top {
            background-color: $patagonia;
            
            &:after { background-image: url(../img/region/patagonia.jpg) }
        }
    }

    &__filters {
        padding: 19px 30px;
        background: white;
        text-align: center;

        @include media($mobile) {
            padding: 20px 20px 13px 20px;
        }
    }

    &__grid {
        @include clearfix;
        max-width: 1280px;
        margin: 19px auto 100px auto;
        position: relative;
        
        &__sizer, &__item {
            width: 33.332%;

            @media screen and (max-width: 850px) {
                width: 50%;
            }

            @include media($mobile) {
                width: 100%;
                float: none;
            }
        }

        &__item {
            float: left;
            padding: 19px;

            @media screen and (max-width: 600px) {
                padding: 10px;
            }

            &__inner {
                display: block;
                background: white;
                border-radius: 2px;
                box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.05);
                @include transition(500ms);

                &:hover, &:focus {
                    transform: translateY(-5px);
                    box-shadow: 0px 30px 50px 0px rgba(0,0,0,0.15);
                }
            }

            img {
                width: 100%;
                height: auto;
            }

            h2 {
                font-size: 1.5em;
                margin: 0;
                padding: 30px;
                font-family: $roboto-slab;

                @include media($mobile-sm) {
                    padding: 22px;
                }

                strong {
                    letter-spacing: -0.02em;
                    display: block;
                }

                small {
                    display: block;
                    font-weight: 300;
                    font-size: 0.7em;
                    line-height: 1.4em;

                    &:empty {
                        display: none;
                    }
                }
            }
        }
    }
}