.btn {
    display: inline-block;
    border-radius: 40px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.11), 0px 7px 13px 0px rgba(0,0,0,0.11);
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    cursor: pointer;
    letter-spacing: 0.05em;
    color: white;
    text-align: center;
    border: 0;
    @include transition(250ms);

    &--sm {
        height: 38px;
        line-height: 38px;
        font-size: 0.750em;
        background-color: $dark-gray;
        padding: 0 22px;
    }

    &--md {
        height: 50px;
        line-height: 50px;
        font-size: 0.875em;
        background-color: $dark-gray;
        padding: 0 30px;
    }

    &--sm, &--md, &--lg {
        &:hover, &:focus {
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.20), 0px 15px 35px 0px rgba(0,0,0,0.25);
            //transform: translateY(-2px);

            @include media($desktop-sm) {
                transform: none;
            }
        }

        &:active {
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1), 0px 7px 13px 0px rgba(0,0,0,0.0);
            transform: translateY(1px);
            @include transition(50ms);

            @include media($desktop-sm) {
                transform: none;
            }
        }
    }

    &--facebook, &--twitter {
        i {
            font-size: 1.35em;
            position: relative;
            top: 3px;
            margin-right: 11px;
        }
    }

    &--form {
        width: 100%;
        border-radius: 2px;
        background-color: $dark-gray;
        height: 48px;
        line-height: 46px;
        font-size: 0.750em;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.0) !important;

        &:hover, &:focus {
            background-color: lighten($dark-gray,15);
        }

        .loading {
            width: 22px;
            height: 22px;
            display: inline-block;
            background: url(../img/loader.png) no-repeat 50% 50%;
            animation: loader 0.75s linear infinite;
            position: relative;
            top: 6px;

            @include hidpi {
                background-image: url(../img/loader@2x.png);
                background-size: 22px 22px;
            }
        }
    }

    &--ingredients {
        display: none;
        width: 100%;
        border-radius: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 12;
        transform: translateY(50px);
        @include transition(350ms);

        span {
            margin-right: 8px;
        }

        i {
            position: absolute;
            top: 18px;
            -webkit-text-stroke: 1px white;
            @include transition(350ms);
        }

        &.is-showing {
            transform: translateY(0px);
        }

        @include media($desktop-sm) {
            display: block;
        }
    }
    
    &--filter {
        border: 2px solid $gray;
        background: transparent;
        box-shadow: none;
        color: $gray;
        line-height: 37px;
        margin: 7px 5px;

        &:hover, &:focus {
            box-shadow: none;
        }

        &.active {
            color: white;
            background: $dark-gray;
            border-color: $dark-gray;
        }

        @include media($mobile) {
            width: 100%;
            display: block;
            margin: 0 0 7px 0;
        }
    }

    &--link {
        color: $dark-gray;
        background: transparent;
        border: none;
        box-shadow: none !important;
        font-weight: 400;

        &:hover, &:focus {
            opacity: 0.5;
        }
    }

    // Colores

    &--main {
        background-color: $main;
    }

    &--inverted {
        color: $dark-gray;
        background-color: white;
    }

    &--facebook {
        background-color: #3b5998;
    }

    &--twitter {
        background-color: #55acee;
    }

    &--noroeste {
        background-color: $noroeste;
    }

    &--nea {
        background-color: $nea;
    }

    &--cuyo {
        background-color: $cuyo;
    }

    &--centro {
        background-color: $centro;
    }

    &--bsas {
        background-color: $bsas;
    }

    &--caba {
        background-color: $caba;
    }

    &--patagonia {
        background-color: $patagonia;
    }
}

.modal {
    background: white;
    box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.05);
    border-radius: 2px;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

    &__container {
        padding: 30px 40px;
        position: relative;

        @include media($mobile) {
            padding: 25px 30px;
        }
    }

    &__form {
        &__input {
            position: relative;
            margin-bottom: 18px;

            label {
                display: block;
                text-transform: uppercase;
                font-size: 0.750em;
                color: $gray;
                font-weight: 600;
                letter-spacing: 0.05em;
                margin-bottom: 5px;
            }

            input {
                width: 100%;
                height: 48px;
                border: 2px solid $light-gray;
                border-radius: 2px;
                padding: 0 15px;
                outline: 0;
                box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
                -webkit-appearance: none;
                @include transition(350ms);

                &:focus {
                    border-color: $gray;
                }
            }
        }

        &__error {
            display: none;
            background-color: $error;
            color: white;
            font-size: 0.750em;
            border-radius: 2px;
            padding: 5px 15px;
            margin-bottom: 18px;
            text-align: center;
        }
    }

    &__form--login {
        .modal__form__input {
            margin-bottom: 9px;

            input {
                padding: 0 15px 0 55px;
            }

            i {
                position: absolute;
                top: 16px;
                left: 20px;
                color: $gray;
            }
        }
    }
}

// CSS Loader

@-webkit-keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.fav {
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &--black {
        width: 16px;
        height: 14px;
        background-image: url(../img/fav-black.svg);
        background-size: 16px auto;
        position: relative;
        top: 3px;
        margin-right: 8px;

        &:after {
            content: ' ';
            width: 16px;
            height: 14px;
            display: inline-block;
            background-image: url(../img/fav-active.svg);
            background-size: 16px auto;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transform: scale(2);
            @include transition(500ms);
        }
    }

    &--white {
        width: 22px;
        height: 19px;
        background-image: url(../img/fav-white.svg);
        background-size: 22px auto;
        position: relative;
        top: 0px !important;

        &:after {
            content: ' ';
            width: 22px;
            height: 19px;
            display: inline-block;
            background-image: url(../img/fav-active.svg);
            background-size: 22px auto;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transform: scale(2);
            @include transition(500ms);
        }
    }
}

.is-fav .fav:after {
    opacity: 1;
    transform: scale(1.1);
}