.favs {
    &__title {
        font-family: $roboto-slab;
        font-size: 3.250em;
        letter-spacing: -0.01em;
        margin: 0 0 22px 0;

        @include media($tablet) {
            font-size: 2.5em;
        }

        @include media($mobile) {
            font-size: 2em;
            margin: 0;
        }

        @include media($mobile-sm) {
            font-size: 1.5em;
        }
    }

    &__heading {
        background: $dark-gray;
        padding: 75px 0;

        &__container {
            max-width: 840px;
            margin: 0 auto;
            padding: 0 30px;
            @include clearfix;
        }

        &__pic {
            @include span-columns(2);
            position: relative;

            img {
                width: 100%;
                height: auto;
                padding-right: 40px;
            }
        }

        &__text {
            @include span-columns(9);
            color: white;

            p {
                margin: 0;
                font-size: 1.125em;
                font-weight: 300;
                line-height: 1.5em;

                @include media($desktop-sm) {
                    font-size: 1em;
                }

                @include media($mobile) {
                    display: none;
                }
            }
        }

        @include media($tablet) {
            padding: 50px 0;
            text-align: center;

            &__pic, &__text {
                width: 100%;
                float: none;
                margin: 0;
            }

            &__pic {
                max-width: 80px;
                margin: 0 auto 10px auto;
                padding: 0;

                img {
                    padding: 0;
                }

                @include media($mobile) {
                    max-width: 50px;
                }
            }
        }

        @include media($mobile) {
            padding: 30px 0;
        }
    }
    
    &__none {
        background: white;
        text-align: center;
        padding: 100px 0;

        &__inner {
            max-width: 600px;
            margin: 0 auto;
            padding: 0 50px;

            i {
                display: inline-block;
                font-size: 52px;
                color: $light-gray;
                margin-bottom: 10px;
            }

            strong {
                font-size: 1.25em;
            }

            @include media($mobile) {
                padding: 0 30px;
            }
        }

        @include media($mobile) {
            padding: 75px 0;
        }

        @include media($mobile) {
            padding: 50px 0;
        }
    }
}

.account {
    max-width: 600px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;

    &--email {
        .card__person__text {
            text-align: center !important;
            padding: 7px 0 0 0 !important;
            margin: 0 !important;
        }
    }

    &--recover {
        max-width: 500px;

        label, input {
            text-align: left;
        }
    }

    &__title {
        font-family: $roboto-slab;
        font-size: 3.250em;
        letter-spacing: -0.01em;
        margin: 0 0 60px 0;
        padding: 0 30px;

        @include media($tablet) {
            font-size: 2.5em;
        }
    }

    .card__person {
        margin: 0 auto;
    }

    .card__person__text {
        text-align: left;

        @media screen and (max-width: 560px) {
            text-align: center;
        }
    }

    &__actions {
        max-width: 240px;
        margin: 50px auto 0 auto;

        .btn {
            display: block;
            width: 100%;

            &:first-child {
                margin-bottom: 20px;
            }

            i {
                margin-right: 5px;
            }
        }
    }

    @include media($mobile) {
        padding: 75px 0;
    }

    @include media($mobile) {
        padding: 50px 0;
    }
}