$light-gray: #DCDADC;
$gray: #9B9B9B;
$dark-gray: #3E4042;

$main: #00A2DF;
$noroeste: #A94C1E;
$nea: #4F9444;
$cuyo: #A4237A;
$centro: #C9242A;
$bsas: #F68A1E;
$caba: #2F99BE;
$patagonia: #24408D;

$error: #E80505;

// Fonts

$roboto: 'Roboto', Helvetica, 'Segoe UI', sans-serif;
$roboto-slab: 'Roboto Slab', Helvetica, 'Segoe UI', sans-serif;
$roboto-condensed: 'Roboto Condensed', Helvetica, 'Segoe UI', sans-serif;

// Arrays

$region-list: noroeste nea cuyo centro bsas caba patagonia;